
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

*{

    font-family: 'Poppins', sans-serif;
}
.App {
  text-align: center;
}


.App-header {
  background-color: #01143b;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
#box{
  background-color: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 10px;
  box-shadow:  0px 5px 8px #ffffff
}
h1{
  color: #001C3C;
}
p{
  color: #001C3C;
}